.chart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.chart h2{
    font-size: 32px;
    font-family: 'Montserrat';
    margin-bottom: 20px;
}

.chart p{
    font-size: 18px;
    width: 68%;
    font-weight: 450;
}

.pie-chart{
    width: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 22px;
    justify-content: center;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

.pie-chart h1{
    font-size: 24px;
    font-family: 'Montserrat';
    margin-bottom: 20px;
    color: white;
    text-align: center;
    width: 100%;
    background-color: gray;
    align-items: center;

}