.questionnair-main{
  margin:3px;
  padding: 6px;
  background-color: rgb(249, 236, 255);
}
h2{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
  
}
.question {
  margin-bottom: 25px;
  padding: 15px;
  border: 10px solid white;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.questions-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(249, 236, 255);
  padding: 10px;
  margin: 10px;
}
.question-label {
  font-size: 18px;
  font-weight: bold;
  background-color: white;
}

.option {
  margin-top: 0px;
  display: flex;
  align-items: center;
  font-size: 30px;
  background-color: white;
}

input[type="radio"] {
  margin-right: 15px;
}

label {
  font-size: 15px;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="radio"]:checked + label {
  color: rgb(80, 199, 12);
  font-weight: bold;
}

.submit-button{
  text-align: center;
}
.submit-button button{
  background-color: #008566;
  color: white;
  font-size: 15px;
  padding: 10px;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}