.top {
    border: 1px solid black;
    height: 700px;
    background-image: url('../images/top1.png'), url('../images/left2.jpg');
    background-repeat: no-repeat, no-repeat;
    background-size: 49% 100%, 51% 100%;
    background-position: right, left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px;
  }
 
  .top-content {
    padding: 28px;
    width: 28%;
    margin-right:29.7%;
    margin-top: 20%;
    text-align: left;
    background-color: white;
    /* filter: drop-shadow(2px 4px 6px white); */
  }

  .top-content h2{
    font-size: 35px;
  }
 .top-content p{
  font-size: 18px;
 }
 @media (max-width: 500px) {
  .top {
    height: 250px;
    background-size: 0%, 100%;
    border: none;
  }

  .top-content {
    width: 100%;
    margin-top: 108%;
    margin-right: 0;
    padding: 0px;
  }

  .top-content p {
    font-size: 16px;
    padding: 0px 20px;
  }
  .top-content h2{
    font-size: 25px;
    padding: 0px 20px;
  }

  .top button {
    font-size: 12px;
  }
}