.top {
    border: 1px solid black;
    height: 700px;
    background-image: url('../images/top1.png'), url('../images/left1.jpg');
    background-repeat: no-repeat, no-repeat;
    background-size: 49% 100%, 51% 100%;
    background-position: right, left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px;
  }
 
  .top-content {
    padding: 28px;
    width: 28%;
    margin-right:29.7%;
    margin-top: 10%;
    text-align: left;
    background-color: white;
    /* filter: drop-shadow(2px 4px 6px white); */
  }

  .top-content h2{
    font-size: 35px;
  }
 .top-content p{
  font-size: 18px;
 }
 @media (max-width: 500px) {
  .top {
    height: 450px;
    background-size: 100%, 100%;
    border: none;
  }

  .top-content {
    width: 96%;
    margin-top: 55%;
    margin-right: 0;
    padding: 8px;
  }

  .top-content p {
    font-size: 16px;
  }

  .top button {
    font-size: 12px;
  }
}